{{define "html"}}
    <!DOCTYPE html>
    <html lang="en">
        <head>
            <meta charset="UTF-8">
            <meta name="viewport" content="width=device-width, initial-scale=1.0">
            <meta http-equiv="X-UA-Compatible" content="ie=edge">
            <title>{{.Page.Name}} | {{.Name}}</title> <!-- you can acces all variables in both JSON files, .Page.Name is from the Home.json and .Name is from Layout.json -->
        </head>
        <body>
            <div>
                {{range .Headers }}
                    <h1>{{.Name}}</h1> <!-- you can use all variables as normal, you can itterateover them etc -->
                {{end}}
            </div>
    </html>
{{end}}